@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

@font-face {
    src: url('fonts/Hack-Regular.ttf');
}

@font-face {
    src: url('fonts/DroidSans.ttf');
}

@font-face {
    src: url('fonts/Monaco.ttf');
}


.button {
    -fx-font: 16px 'Monaco';
    -fx-background-color: aqua;
}

#txtHeader {
    -fx-font-family: "Hack Regular";
    -fx-font-size: 12px;
    -fx-background-color: black;
    -fx-text-fill: #45D40C;
}


#txtHeader .content {
    -fx-background-color: black;
}

#txtHeader .scroll-bar:vertical:disabled {
    -fx-opacity: 0;
}

#bpLogin {
    -fx-background-color: black;
    -fx-font-family: 'Droid Sans';
    -fx-text-fill: #45D40C;
}

.edtDefault {
    -fx-border-color: #45D40C;
    -fx-text-fill: #45D40C;
    -fx-font-family: "Hack Regular";
    -fx-background-color: black;
    -fx-font-size: 12px;
}

.lblDefault {
    -fx-text-fill: #45D40C;
    -fx-font-family: 'Monaco';
    -fx-font-size: 12px;
}

.pnlDefault {
    -fx-border-color: #45D40C;
    -fx-background-color: black;
}

.btnDefault {
    -fx-border-color: #45D40C;
    -fx-background-color: black;
    -fx-text-fill: #45D40C;
    -fx-font-size: 12px;
}

.btnDefault:hover {
    -fx-border-color: darkgreen;
    -fx-background-color: #45D40C;
    -fx-font-size: 12px;
    -fx-text-fill: black;
}

.desktopPane {
    -fx-background-color: black;
    -fx-background-image: url("../backgrounds/background2.jpg");
    -fx-background-repeat: repeat;
}

.default-window-titlebar {
    -fx-font-family: "Monaco";
    -fx-font-size: 14px;
    -fx-fill: black;

    -fx-border-color: #45D40C;
    -fx-alignment: center;
}

.input-cmd {
    -fx-border-color: black;
    -fx-text-fill: #45D40C;
    -fx-font-family: "Monaco";
    -fx-background-color: black;
    -fx-font-size: 12px;
}

.input-label {
    -fx-border-color: black;
    -fx-text-fill: #45D40C;
    -fx-font-family: "Monaco";
    -fx-background-color: black;
    -fx-font-size: 12px;
}


