@default-font-family: 'Monaco';
@default-font-size: 12px;
@default-background-color: black;
@default-foreground-color: #45D40C;
@default-border-color: #45D40C;

@font-face {
  src: url('fonts/Hack-Regular.ttf');
}

@font-face {
  src: url('fonts/DroidSans.ttf');
}

@font-face {
  src: url('fonts/Monaco.ttf');
}

.label {
  -fx-font-family: @default-font-family;
  -fx-font-size: @default-font-size;
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
}

.text-field {
  -fx-border-color: @default-foreground-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-family: @default-font-family;
  -fx-background-color: @default-background-color;
  -fx-font-size: @default-font-size;
}

#txtHeader {
  -fx-font-family: @default-font-family;
  -fx-font-size: @default-font-size;
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
}


#txtHeader .content {
  -fx-background-color: @default-background-color;
}

#txtHeader .scroll-bar:vertical:disabled {
  -fx-opacity: 0;
}

#bpLogin {
  -fx-background-color: @default-background-color;
  -fx-font-family: @default-font-family;
  -fx-text-fill: @default-foreground-color;
}

.edtDefault {
  -fx-border-color: @default-foreground-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-family: @default-font-family;
  -fx-background-color: @default-background-color;
  -fx-font-size: @default-font-size;
}

.lblDefault {
  -fx-text-fill: @default-foreground-color;
  -fx-font-family: @default-font-family;
  -fx-font-size: @default-font-size;
  -fx-background-color: @default-background-color;
}

.pnlDefault {
  -fx-border-color: @default-foreground-color;
  -fx-background-color: @default-background-color;
}

.btnDefault {
  -fx-border-color: @default-foreground-color;
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-size: @default-font-size;
}

.btnDefault:hover {
  -fx-border-color: darkgreen;
  -fx-background-color: @default-foreground-color;
  -fx-font-size: @default-font-size;
  -fx-text-fill: @default-background-color;
}

.desktopPane {
  -fx-background-color: @default-background-color;
  -fx-background-repeat: repeat;
}

.default-window-titlebar {
  -fx-font-family: @default-font-family;
  -fx-font-size: @default-font-size;
  -fx-fill: @default-background-color;
  -fx-border-color: @default-foreground-color;
  -fx-alignment: center;
}

.input-cmd {
  -fx-border-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-family: @default-font-family;
  -fx-background-color: @default-background-color;
  -fx-font-size: @default-font-size;
}

.input-label {
  -fx-border-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-family: @default-font-family;
  -fx-background-color: @default-background-color;
  -fx-font-size: @default-font-size;
}

.shell-output {
  -fx-font-family: @default-font-family;
  -fx-font-size: @default-font-size;
  -fx-background-color: @default-background-color;
  -fx-fill: @default-foreground-color;
  -fx-text-fill: @default-foreground-color;
}


.shell-output .content {
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
}

.shell-output .scroll-bar:vertical:disabled {
  -fx-opacity: 0;
}

.shell-output-text-default {
  -fx-fill: @default-foreground-color;
}

.shell-output-text-red {
  -fx-fill: red;
}

.shell-output-text-bold {
  -fx-fill: @default-foreground-color;
  -fx-font-weight: bold;
}

.mnuDefault {
  -fx-font-family: @default-font-family -fx-font-size: @default-font-size;
  -fx-background-color: @default-background-color;
  -fx-fill: @default-foreground-color;
  -fx-text-fill: @default-foreground-color;
  -fx-border-color: @default-foreground-color;
  -fx-border-width: 1px;
  -fx-border-radius: 4px;
  -fx-border-style: double;
}


.mnuDefault .label {
  -fx-text-fill: @default-foreground-color;
}

.mnuDefault .menu-button {
  -fx-border-color: @default-foreground-color;
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-size: 13px;
}

.mnuDefault .button:hover {
  -fx-background-color: @default-foreground-color;
  -fx-text-fill: @default-background-color;
  -fx-font-weight: bold;
}

.mnuDefault .text-field {
  -fx-border-color: @default-foreground-color;
  -fx-text-fill: @default-foreground-color;

  -fx-background-color: @default-background-color;
  -fx-font-size: @default-font-size;
}

.mnuDefault-hbox {
  -fx-border-color: @default-foreground-color;
  -fx-border-style: dashed;
  -fx-border-width: 1px;
}

.mnuDefault .menu-bar {
  -fx-background-color: transparent;
  -fx-border-style: none;
  -fx-border-width: 0px;
}

.mnuDefault .menu {
  -fx-border-style: none;
  -fx-border-width: 0px;
}

.mnuDefault-hbox .button {
  -fx-border-color: @default-foreground-color;
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-size: 13px;
}

.mnuDefault .menu-bar .menu-button .menu-item {
  -fx-border-color: @default-foreground-color;
  -fx-background-color: @default-background-color;
  -fx-text-fill: @default-foreground-color;
  -fx-font-size: 13px;
}

mnuDefault .menu-bar .menu-button .menu-item:hover {
  -fx-background-color: @default-foreground-color;
  -fx-text-fill: @default-background-color;
  -fx-font-weight: bold;
  -fx-pref-width: 150px;
  -fx-pref-height: 35px;
}

.context-menu {
  -fx-border-color: @default-foreground-color;
  -fx-border-width: 1px;
  -fx-border-style: dashed;
}